$page-width: 1455px;

/* MAIN-HEADER */

.inner-header-container {
  flex-basis: $page-width !important;
}

.list-container {
  justify-content: space-between;
}

/* MAIN-CONTENT */
.max-content-width {
  max-width: $page-width;
}

.main-xxl {
  width: $page-width;
  height: 1000px;
}

/* ABOUT PAGE */
.about-logo-width {
  width: 35%;
}
