$page-width: 1455px;

/* MAIN-HEADER */

#inner-header-container {
  flex-basis: $page-width;
}

.list-container {
  justify-content: space-between;
}

/* MAIN-CONTENT */
.header-container-header {
  max-width: $page-width;
}

.main-xxl {
  width: $page-width;
  height: 1000px;
}
