$page-width: 1300px;

/* MAIN-HEADER */

#inner-header-container {
  flex-basis: $page-width;
}

.list-container {
  justify-content: space-between;
}

/* MAIN-CONTENT */

.main {
  width: $page-width;
}
