/* FONT-FAMILY */
@font-face {
  font-family: cocogoose-pro;
  src: url('./fonts/cocogoose-pro.otf');
}

.font-coco {
  font-family: 'cocogoose-pro', sans-serif !important;
}

.font-lato {
  font-family: 'Lato', sans-serif !important;
}

/* FONT SIZE */

$font-12px: 12px;
$font-15px: 15px;
$font-18px: 18px;
$font-20px: 20px;
$font-22px: 22px;
$font-25px: 25px;
$font-30px: 30px;
$font-35px: 35px;
$font-40px: 40px;
$font-45px: 45px;
$font-50px: 50px;
$font-55px: 55px;
$font-60px: 60px;
$font-65px: 65px;
$font-70px: 70px;
$font-75px: 75px;
$font-80px: 80px;
$font-85px: 85px;
$font-90px: 90px;
$font-95px: 95px;

.font-12px {
  font-size: $font-12px !important;
}

.font-15px {
  font-size: $font-15px !important;
}

.font-18px {
  font-size: $font-18px !important;
}

.font-20px {
  font-size: $font-20px !important;
}

.font-22px {
  font-size: $font-22px !important;
}

.font-25px {
  font-size: $font-25px !important;
}

.font-30px {
  font-size: $font-30px !important;
}

.font-35px {
  font-size: $font-35px !important;
}

.font-40px {
  font-size: $font-40px !important;
}

.font-45px {
  font-size: $font-45px !important;
}

.font-50px {
  font-size: $font-50px !important;
}

.font-55px {
  font-size: $font-55px !important;
}

.font-60px {
  font-size: $font-60px !important;
}

.font-65px {
  font-size: $font-65px !important;
}

.font-70px {
  font-size: $font-70px !important;
}

.font-75px {
  font-size: $font-75px !important;
}

.font-80px {
  font-size: $font-80px !important;
}

.font-85px {
  font-size: $font-85px !important;
}

.font-90px {
  font-size: $font-90px !important;
}

.font-95px {
  font-size: $font-95px !important;
}

@media screen and (min-width: 576px) {
  .font-sm-12px {
    font-size: $font-12px !important;
  }

  .font-sm-15px {
    font-size: $font-15px !important;
  }

  .font-sm-18px {
    font-size: $font-18px !important;
  }

  .font-sm-20px {
    font-size: $font-20px !important;
  }

  .font-sm-22px {
    font-size: $font-22px !important;
  }

  .font-sm-25px {
    font-size: $font-25px !important;
  }

  .font-sm-30px {
    font-size: $font-30px !important;
  }

  .font-sm-35px {
    font-size: $font-35px !important;
  }

  .font-sm-40px {
    font-size: $font-40px !important;
  }

  .font-sm-45px {
    font-size: $font-45px !important;
  }

  .font-sm-50px {
    font-size: $font-50px !important;
  }

  .font-sm-55px {
    font-size: $font-55px !important;
  }

  .font-sm-60px {
    font-size: $font-60px !important;
  }

  .font-sm-65px {
    font-size: $font-65px !important;
  }

  .font-sm-70px {
    font-size: $font-70px !important;
  }

  .font-sm-75px {
    font-size: $font-75px !important;
  }

  .font-sm-80px {
    font-size: $font-80px !important;
  }

  .font-sm-85px {
    font-size: $font-85px !important;
  }

  .font-sm-90px {
    font-size: $font-90px !important;
  }

  .font-sm-95px {
    font-size: $font-95px !important;
  }
}

@media screen and (min-width: 768px) {
  .font-sm-12px {
    font-size: $font-12px !important;
  }

  .font-sm-15px {
    font-size: $font-15px !important;
  }

  .font-md-18px {
    font-size: $font-18px !important;
  }

  .font-md-20px {
    font-size: $font-20px !important;
  }

  .font-md-22px {
    font-size: $font-22px !important;
  }

  .font-md-25px {
    font-size: $font-25px !important;
  }

  .font-md-30px {
    font-size: $font-30px !important;
  }

  .font-md-35px {
    font-size: $font-35px !important;
  }

  .font-md-40px {
    font-size: $font-40px !important;
  }

  .font-md-45px {
    font-size: $font-45px !important;
  }

  .font-md-50px {
    font-size: $font-50px !important;
  }

  .font-md-55px {
    font-size: $font-55px !important;
  }

  .font-md-60px {
    font-size: $font-60px !important;
  }

  .font-md-65px {
    font-size: $font-65px !important;
  }

  .font-md-70px {
    font-size: $font-70px !important;
  }

  .font-md-75px {
    font-size: $font-75px !important;
  }

  .font-md-80px {
    font-size: $font-80px !important;
  }

  .font-md-85px {
    font-size: $font-85px !important;
  }

  .font-md-90px {
    font-size: $font-90px !important;
  }

  .font-md-95px {
    font-size: $font-95px !important;
  }
}

@media screen and (min-width: 992px) {
  .font-sm-12px {
    font-size: $font-12px !important;
  }

  .font-sm-15px {
    font-size: $font-15px !important;
  }

  .font-lg-18px {
    font-size: $font-18px !important;
  }

  .font-lg-20px {
    font-size: $font-20px !important;
  }

  .font-lg-22px {
    font-size: $font-22px !important;
  }

  .font-lg-25px {
    font-size: $font-25px !important;
  }

  .font-lg-30px {
    font-size: $font-30px !important;
  }

  .font-lg-35px {
    font-size: $font-35px !important;
  }

  .font-lg-40px {
    font-size: $font-40px !important;
  }

  .font-lg-45px {
    font-size: $font-45px !important;
  }

  .font-lg-50px {
    font-size: $font-50px !important;
  }

  .font-lg-55px {
    font-size: $font-55px !important;
  }

  .font-lg-60px {
    font-size: $font-60px !important;
  }

  .font-lg-65px {
    font-size: $font-65px !important;
  }

  .font-lg-70px {
    font-size: $font-70px !important;
  }

  .font-lg-75px {
    font-size: $font-75px !important;
  }

  .font-lg-80px {
    font-size: $font-80px !important;
  }

  .font-lg-85px {
    font-size: $font-85px !important;
  }

  .font-lg-90px {
    font-size: $font-90px !important;
  }

  .font-lg-95px {
    font-size: $font-95px !important;
  }
}

@media screen and (min-width: 1200px) {
  .font-sm-12px {
    font-size: $font-12px !important;
  }

  .font-sm-15px {
    font-size: $font-15px !important;
  }

  .font-xl-18px {
    font-size: $font-18px !important;
  }

  .font-xl-20px {
    font-size: $font-20px !important;
  }

  .font-xl-22px {
    font-size: $font-22px !important;
  }

  .font-xl-25px {
    font-size: $font-25px !important;
  }

  .font-xl-30px {
    font-size: $font-30px !important;
  }

  .font-xl-35px {
    font-size: $font-35px !important;
  }

  .font-xl-40px {
    font-size: $font-40px !important;
  }

  .font-xl-45px {
    font-size: $font-45px !important;
  }

  .font-xl-50px {
    font-size: $font-50px !important;
  }

  .font-xl-55px {
    font-size: $font-55px !important;
  }

  .font-xl-60px {
    font-size: $font-60px !important;
  }

  .font-xl-65px {
    font-size: $font-65px !important;
  }

  .font-xl-70px {
    font-size: $font-70px !important;
  }

  .font-xl-75px {
    font-size: $font-75px !important;
  }

  .font-xl-80px {
    font-size: $font-80px !important;
  }

  .font-xl-85px {
    font-size: $font-85px !important;
  }

  .font-xl-90px {
    font-size: $font-90px !important;
  }

  .font-xl-95px {
    font-size: $font-95px !important;
  }
}

@media screen and (min-width: 1400px) {
  .font-sm-12px {
    font-size: $font-12px !important;
  }

  .font-sm-15px {
    font-size: $font-15px !important;
  }

  .font-xxl-18px {
    font-size: $font-18px !important;
  }

  .font-xxl-20px {
    font-size: $font-20px !important;
  }

  .font-xxl-22px {
    font-size: $font-22px !important;
  }

  .font-xxl-25px {
    font-size: $font-25px !important;
  }

  .font-xxl-30px {
    font-size: $font-30px !important;
  }

  .font-xxl-35px {
    font-size: $font-35px !important;
  }

  .font-xxl-40px {
    font-size: $font-40px !important;
  }

  .font-xxl-45px {
    font-size: $font-45px !important;
  }

  .font-xxl-50px {
    font-size: $font-50px !important;
  }

  .font-xxl-55px {
    font-size: $font-55px !important;
  }

  .font-xxl-60px {
    font-size: $font-60px !important;
  }

  .font-xxl-65px {
    font-size: $font-65px !important;
  }

  .font-xxl-70px {
    font-size: $font-70px !important;
  }

  .font-xxl-75px {
    font-size: $font-75px !important;
  }

  .font-xxl-80px {
    font-size: $font-80px !important;
  }

  .font-xxl-85px {
    font-size: $font-85px !important;
  }

  .font-xxl-90px {
    font-size: $font-90px !important;
  }

  .font-xxl-95px {
    font-size: $font-95px !important;
  }
}
