/* PADDING */
.p-25 {
  padding: 25px;
}

.p-20 {
  padding: 20px;
}

/* COLORS */
$black: #272a31;
$red: #ec5242;
$light-grey: #d3d3d3;
$light-grey-2: #f8f8f8;

.color-black {
  color: $black !important;
}

.color-red {
  color: $red !important;
}

.color-light-grey {
  color: $light-grey !important;
}

.color-light-grey-2 {
  color: $light-grey-2 !important;
}

.bg-red {
  background-color: $red !important;
}

/* BORDER */

.border-red {
  border-color: $red !important;
}

.border-gray {
  border-color: $light-grey !important;
}

/* Navbar */

$main-header-y-padding: 20px;

#outer-header-container {
  justify-content: center;
}

/* main top padding */
$main-header-x-size: 50px;

.main {
  margin-top: $main-header-x-size + (2 * $main-header-y-padding);
  background-color: $light-grey-2;
}

.main-description {
  background-color: $light-grey-2;
  border: 3px solid white;
}

.program {
  background-color: $black;
}

.program-logo {
  width: 40px;
}

.program-block {
  background-color: rgba(255, 255, 255, 0.1);
}

.program-block:hover {
  padding: 17px;
  border: 3px solid white;
}

#program-join {
  margin-top: 60px;
  margin-bottom: 40px;
}

#program-join-button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.speaker-container {
  min-height: 175px;
}

.speaker-outer-container {
  max-width: 600px;
}

.speaker-back-image {
  background-image: url('../images/featured-speaker-image-back-mobile.png');
  background-repeat: no-repeat;
  background-position: left top;
}

.speaker-image {
  width: 30vw;
  height: 30vw;
  position: relative;
  top: 12px;
}
